{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="application/javascript" src="{{ url_for('static', filename='lib/js/bootstrap.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/basemap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='lib/css/leaflet.css') }}" >
<script type="application/javascript" src="{{ url_for('static', filename='lib/js/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='lib/js/esri-leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/data.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/colpick.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/gridLoading.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/colpick.css') }}">
{% endblock %}
{% block title %}主页测试{% endblock %}

{% block page_content %}
<!-- 页面加载符号 -->
<div class="spinner" id="gridLoading">
  <div class="dot1"></div>
  <div class="dot2"></div>
</div>
<!-- 页面加载DOM元素 -->
<div id="loading"></div>
<!-- 图层已添加的警告框 -->
<div id="geomviewListNote"></div>
<!-- 浮动的渲染字段选择框 -->
<div class="modal fade" id="fieldModal" tabindex="-1" role="dialog" aria-labelledby="fieldModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="fieldModalLabel">字段列表</h4>
            </div>
            <div class="modal-body" id="fieldModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消着色
                </button>
                <button type="button" class="btn btn-primary" onclick="selectField()">
                    开始着色
                </button>
            </div>
        </div>
    </div>
</div>







<!-- 底图元素 -->
<div id="map"></div>

<!-- 左上角变量存储区 -->
<div class="panel panel-default" id="geocaPanel">
    <div class="panel-body" id="geocaPanelBody"></div>
</div>

<!-- 左下角数据目录 -->
<div class="panel panel-default" id="geomdataCatalog">
    <div class="panel-heading">
        矢量数据清单
    </div>
    <div id="geomlist">
        <form onchange="changeBaseMap()">
            <div class="radio">
                <label>
                    <input type="radio" name="basemap" id="OpenStreetMap" value="openstreetmap" />
                    街道地图
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="basemap" id="GoogleMap" value="googlemap" />
                    卫星地图
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="basemap" id="EsriMap" value="esrimap" />
                    影像地图
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="basemap" id="BlankMap" value="blankmap" checked />
                    空白底图
                </label>
            </div>
        </form>
        <hr />
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="dataTypeList" onclick="catalogList(this.value)">
                资料类型
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuType" id="dataTypeList"></ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuRange" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="dataRangeList" onclick="catalogList(this.value)">
                空间范围
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuRange" id="dataRangeList"></ul>
        </div>
        <hr />
        <div id="geomdataList"></div>
    </div>
</div>

<!-- 右上角数据信息 -->
<div class="panel panel-default" id="geominfo">
    <div class="panel-heading">数据信息</div>
    <div class="panel-body" id="geomviewList"></div>
    <table class="table table-bordered text-nowrap" id="geoinfoTable"></table>
</div>

<!-- 右下角符号系统框 -->
<div class="panel panel-default" id="geoSymbolPanel">
    <div class="panel-heading">图例</div>
    <div class="panel-body" id="geoSymbolPanelBody">
        <div class="container" id="geoSymbolContainer"></div>
    </div>
</div>








<script type="text/javascript">
    function compareFunction (a, b) {
        if (a < b) {
            return 1;
        } else if (a > b) {
            return -1;
        } else {
            return 0;
        }
    }
</script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/baseMap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/geoview.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/geostyle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/geointeractive.js') }}"></script>
{% endblock %}
